<h1>Data Binding</h1>

<hr>
<hr>
<app-data-binding></app-data-binding>



<hr><hr><hr>
<h1>Custom Property Binding/ Input Decorator/ Pass data to child</h1>
<!-- <hr><hr>
<h3>Form Submission</h3>
<label for="name">Name: </label>
<input id="name" type="text" #nameInput>
<br><br>
<label for="age">Age: </label>
<input id="age"  type="number" #ageInput>
<br>
<br>
<button (click)="onSubmitForm(nameInput,ageInput)">Submit Form</button>

<app-child-component [employee]="employee" (empAdded)="onEmployeeAdded($event)"> This text is passed bewtween the child component tags</app-child-component>

<p *ngIf="message">{{message}}</p> -->

